@import '../../scss/mixins';

@include keyframes(member-desktop) {
  0% {
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

div.team-desktop {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  top: 0px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  transition: .5s;
  text-align: center;
  &.active {
    @include animation('heading');
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-image: linear-gradient(to top, rgba(4,229,229,1), rgba(255, 255, 255, 0));
  }

  // We have a mobile component that will be rendered
  @media (max-width: 1024px) {
    display: none !important;
  }

  h4 {
    color: #fff;
    line-height: 14px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    @media (max-width:767px) {
        font-size: 20px;
    }
  }

  h5 {
    line-height: 12px;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    @media (max-width:767px) {
        font-size: 15px;
    }
  }

  div.social {
    line-height: 10px;
    margin-bottom: 5px;
    svg {
      height: 20px;
      cursor: pointer;
      color: #fff;
      margin: auto 5px;
    }
  }
}
