section#services {
  position: relative;
  overflow: hidden;
  background-color: #111;
  padding: 75px 0;

  div.service-element {
    margin-bottom: 20px;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    transition: .2s;
    &:hover {
      background-color: #000;
      box-shadow: 0 28px 60px rgb(4, 229, 229, .1);
      transform: translateY(-10px);
    }

    div.service-icon {
      margin-bottom: 20px;
      svg {
        max-height: 70px;
      }
    }

    h4.service-heading {
      font-size: 30px;
      font-weight: 500;
      font-family: Teko;
      color: #fff;
    }

    div.service-separator {
      padding: 2px;
      width: 50px;
      background-color: #04e5e5;
      margin-bottom: 10px;
      margin: auto;
    }

    ul {
      padding: 0;
      margin: 11px 0 0 0;

      li {
        list-style: none;
        color: #c5c5c5;
        font-weight: 300;
        font-size: 14px;
        margin: 5px 0;
        &::before {
          display: inline-block;
          content: '';
          border-radius: 2.5px;
          height: 5px;
          width: 5px;
          margin-right: 10px;
          background-color: #04e5e5;
          position: relative;
          bottom: 2.5px;
        }
      }
    }
  }
}
