section#hero {
  position: relative;
  background-color: #000;

  @media (min-width: 768px) {
    background-image:
      linear-gradient(to bottom, rgb(0, 0, 0, 0), rgb(0, 0, 0, 1)),
      url('/img/hero.jpg');
    background-size: cover;
    background-position: right bottom; 
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 80px;
    font-family: Teko;
    line-height: 40px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    
    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 20px;
      margin-left: 2px;
    }
    @media (min-width: 768px) {
      margin-left: 4px;
    }
    @media (min-width: 768px) and (max-width: 1500px) {
      font-size: 40px;
    }
  }

  h2 {
    font-size: 120px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: -webkit-linear-gradient(left, #00ffff , #007a7a);
    background: -o-linear-gradient(right, #00ffff, #007a7a);
    background: -moz-linear-gradient(right, #00ffff, #007a7a);
    background: linear-gradient(to right, #00ffff , #007a7a); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width:767px) {
      font-size: 40px;
      line-height: 40px;
    }
    @media (min-width:768px) and (max-width:1500px) {
          font-size: 70px;
    }
  }

  div#content {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 767px) {
      height: 350px;
    }

    div#separator {
      height: 5px;
      width: 50px;
      background-color: #04e5e5;
      margin-bottom: 30px;

      @media (max-width:767px) {
        margin-left: 2px;
      }
      @media (min-width:768px) {
          margin-left: 6px;
      }
    }

    div#typing {
      font-size: 50px;
      line-height: 50px;
      color: #fff;

      @media (max-width:767px) {
        font-size: 20px;
        line-height: 20px;
        margin-left: 2px;
      }
      @media (min-width:768px) {
          margin-left: 6px;
      }
      @media (min-width:768px) and (max-width:1500px) {
          font-size: 23px;
          line-height: 20px;
      }
    }
  }

  div#services {
    position: absolute;
    width: 100%;
    bottom: -15%;
    z-index: 2;

    @media(max-width: 767px) {
      position: relative;
    }

    div[class^="service"][class*=' col-'] {
      padding: 0;
      border-right: 1px solid #444;
      &.no-border {
        border-right: none;
      }

      @media (max-width: 767px) {
        border-right: none;
        padding: 2px 0px;
      }

      div.service-content {
        height: 300px;
        padding: 40px;
        background-color: #111;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        transition: .2s;
        &:hover {
          background-color: #222;
        }

        @media (max-width: 767px) {
          align-items: center;
        }

        div.service-icon {
          height: 100px;
          margin: 10px 0px;

          svg {
            height: 70px;

            @media (max-width: 1024px) {
              height: 50px;
            }
          }
        }

        div.service-separator {
          padding: 2px;
          width: 50px;
          background-color: #04e5e5;
          margin-top: -3px;
          margin-bottom: 30px;
          margin-left: 6px;

          @media (max-width: 767px) {
            margin-left: 2px;
          }
        }

        h3.service-heading {
          font-size: 30px;
          font-weight: 400;
          font-family: Teko;
        }

        p.service-description {
          font-size: 14px;
          font-weight: 300;
          color: #c5c5c5;
        }
      }
    }
  }
}
