section#team {

  div.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,.8);
  }

  div.team-header {
    margin-top: 75px;
  }

  div.team-container {
    @media (max-width:767px) {
      padding: 0 50px;
    }
  }
}
