div#navbar-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
  &.sticky {
      position: fixed;
      background-color: rgba(0,0,0,.8);
      padding: 0 0;
      @media (max-width: 500px) {
          padding: 20px 0;
      }
  }

  div#navbar-container {
    display: flex;
    position: relative;
    @media (max-width: 500px) {
        display: block;
        padding: 5px;
    }

    div#logo-wrapper {
      flex: 0 0 20%;
      max-width: 20%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      @media (max-width: 500px) {
          flex: 0 0 100%;
          max-width: 100%;
          justify-content: center;
      }

      img#logo {
        height: 30px;
        @media (max-width: 1023px) {
            height: 20px;
        }
      }
    }

    button#toggler {
      color: #fff;
      position: absolute;
      right: 0;
      top: 0;
      margin-top: -2px;
      margin-right: 10px;
      @media (min-width: 576px) {
          display: none;
      }
    }

    nav {
      flex: 0 0 80%;
      max-width: 80%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media (max-width: 500px) {
          flex: 0 0 100%;
          max-width: 100%;
          justify-content: center;
          background-color: rgba(0,0,0,.8);
          margin-top: 20px;
          &.hidden-mobile {
              display: none;
          }
      }

      div#nav-inner {
        justify-content: flex-end;

        button {
          background: none;
          border: none;
          color: #fff;
          text-transform: capitalize;
          font-size: 28px;
          font-weight: 500;
          margin: 10px 5px;
          transition: .5s;
          &:hover {
              color: #04e5e5;
          }
          &:focus {
              outline: none;
          }
          @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 18px;
            margin: 4px;
          }
          @media (max-width: 767px) {
            font-size: 14px;
            margin: 2px;
          }
        }
      }
    }
  }
}
