
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #000;
}

section {
  position: relative;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Poppins;
  font-size: 32px;
  color: #fff;
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Teko;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Teko/Teko-Regular.ttf') format('truetype');
}
